<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="./tests/coverage/coverage.xml"/>
      <html outputDirectory="./tests/coverage" lowUpperBound="35" highLowerBound="70"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="./tests/coverage/logfile.xml"/>
    <testdoxHtml outputFile="./tests/coverage/testdox.html"/>
    <testdoxText outputFile="./tests/coverage/testdox.txt"/>
  </logging>
  <testsuites>
    <testsuite name="The Iconic Name Parser Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">tests</directory>
    </exclude>
  </source>
</phpunit>
